$standard-padding: 10px
$standard-radius: 4px

$font-normal: Roboto
$font-fancy: Pacifico

$page-background: #f2f2f2
$primary-colour: #FE4365
$solid-border: 2px solid black

$small-shadow: 0 1px 5px rgba(0,0,0,0.2)
$small-shadow-dark: 1px 1px 2px rgba(0,0,0,0.6)

$header-height: 55px
$hamburger-rotate: 270deg

$add-recipe-height: 70px

$popup-header-height: 50px
$popup-zindex: 999999

=font-normal
	font-size: 1.2em
	color: black

=font-medium
	font-size: 1.8em

=font-large
	font-size: 2.2em

=font-bold
	font-weight: bold