@import app/css/_vars

$card-image-height: 200px
$card-margin: $standard-padding

.card
	position: relative
	box-shadow: $tight-shadow
	cursor: pointer

	> img
		position: relative
		display: block
		width: 100%

	> .rating
		position: absolute
		display: inline-block
		height: 25px
		line-height: 25px
		top: 5px
		right: 0
		background-color: fade-out(white, 0.4)
		box-shadow: $small-shadow
		padding: 0 $standard-padding / 2
		+font-normal()

		> i
			margin-right: $standard-padding / 2

	> .image
		position: relative
		display: block
		height: $card-image-height
		background-size: cover
		background-position: center

	> .content
		padding: $standard-padding
		+font-normal()
		background-color: white
		word-break: break-all
		+ellipsis()
		display: block

	> .overlay
		position: absolute
		width: 100%
		left: 0
		bottom: 0
		background-color: rgba(0,0,0,0.4)
		+font-normal()
		color: white
		padding: $standard-padding / 2
		box-sizing: border-box
		+ellipsis()
			

// Card Layouts
.four-cards
	
	> .card
		display: inline-block
		margin: $card-margin
		width: calc(100% / 4 - (#{$card-margin} * 2)) // 2 = number of margins either side of card