@import app/css/_vars

body
	margin: 0
	background-color: $page-background
	font-family: $font-normal
	font-size: 10px
	color: black
	-webkit-text-size-adjust: none

	article.page-wrapper
		position: relative

.hidden
	display: none

.centered
	width: 100%
	box-sizing: border-box
	text-align: center

.padded-v
	padding: $standard-padding 0

.cover-image
	position: absolute
	display: block
	top: 0
	left: 0
	width: 100%
	height: 40%
	margin: 0
	padding: 0
	background-size: cover
	background-position: center

