@import app/css/_vars

$login-width: 30%
$login-height: 40%

.login
	position: absolute
	width: $login-width
	height: $login-height
	top: calc(50% - #{$login-height / 2})
	left: calc(50% - #{$login-width / 2})
	text-align: center

	.logo
		display: block
		+font-fancy()
		+font-mega()
		color: white
		text-shadow: $small-shadow
		margin-bottom: $standard-padding

	.google-button
		> div
			margin: 0 auto