@import app/css/_vars

section.page
	padding-top: $header-height
	
	section.this-week
		margin: 0 auto
		width: 70%
		box-sizing: border-box

		.day-heading
			+font-fancy()
			font-size: 5em
			margin-left: $standard-padding
			display: block
			text-align: left
			text-shadow: $small-shadow