@import app/css/_vars

$column-margin: $standard-padding / 1.2
$column-border: $solid-border

.week-column
	width: 250px
	display: inline-block
	height: 100%
	overflow: hidden
	background-color: white
	margin: 0 $column-margin
	box-shadow: $tight-shadow
	border-radius: $standard-radius

	&:first-child
		margin-left: $column-margin * 2

	&:last-child
		margin-right: $column-margin * 2

	> header
		width: 100%
		float: left
		text-align: center
		padding: $standard-padding
		background-color: white

		> .dayname
			display: block
			color: $primary-colour
			padding-bottom: $standard-padding / 2
			+font-large()

		> .date
			display: block
			font-size: 1.1em

		&.active
			background-color: $primary-colour

			> .dayname
				color: white

			> .date
				color: white

	> section
		float: left
		width: 100%

		> .card
			width: calc(100% - #{$standard-padding * 2})
			margin: 0 auto
			margin-top: $standard-padding
			overflow: hidden
			box-shadow: none
			
			img
				transition: 0.1s

			&:hover
				> img
					transform: scale(1.05)
