@import app/css/_vars

$column-border: 2px solid black

.week-column
	width: 250px
	border-right: $column-border
	display: inline-block
	height: 100%
	overflow: hidden

	&:last-child
		border-right: none

	> header
		text-align: center
		padding: $standard-padding
		background-color: white
		border-bottom: $column-border

		> .dayname
			display: block
			color: $primary-colour
			padding-bottom: $standard-padding / 2
			+font-large()

		> .date
			display: block
			font-size: 1.1em

		&.active
			background-color: $primary-colour

			> .dayname
				color: white

			> .date
				color: white

	> section
		float: left
		width: 100%

		> .card
			overflow: hidden
			
			.image
				transition: 0.1s

			&:hover
				> .image
					transform: scale(1.05)
